{% extends "base.html" %}

{% block title %}<title>{{ object.name }}</title>{% endblock %}

{% block content %}
	<div>
        <h5>{{ collection.name }}</h5>

        <div class="d-flex justify-content-end">
            <div style="padding-left: 0.25em; padding-right: 0.25em;">
                <button class="btn btn-primary">Edit</button>
            </div>
            <div style="padding-left: 0.25em; padding-right: 0.25em;">
                <button class="btn btn-danger" onclick="deleteCollection()">Delete</button>
            </div>
        </div>

        {% for word in words %}
            <p><a href="{{ word.get_absolute_url }}">{{ word.word }}</a></p>
        {% endfor %}
	</div>

    <script>
        var url = "{% url 'api:collection' pk=collection.pk %}"
        var redirect = "{% url 'account:collection-delete' %}";

        function deleteCollection(){
            if (window.confirm("Do you really want to delete the collection?")){
                fetch(url, {
                    method: 'DELETE',
                    headers: {
				        'X-CSRFTOKEN': '{{ csrf_token }}'
			        }
                })
                .then(function(){
                    window.location.replace(redirect)
                });
            }
        }
    </script>
{% endblock %}