{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}<title>New word</title>{% endblock %}

{% block content %}
	<div class="alert alert-success" role="alert">
		Successfully created definition.
	</div>

	<div id="buttons" style="padding-bottom: 1em;">
		{% for field in form.fields %}
			{% if not forloop.first %}
				<button class="btn btn-secondary" id="btn_{{ field }}" onclick="addInput('{{ field }}')" type="button">{{ field }}</button>
			{% endif %}
		{% endfor %}
	</div>

	<div>
		<form method="post">
			{% crispy form %}
		</form>
	</div>
{% endblock %}