{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'dictionary/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">

<form method="post" class="bootstrap5" id="form">
  <div class="mb-3">
    {{ form.word|as_crispy_field }}
  </div>

  {% for field in form %}
    {% if not forloop.first %}
      <button type="button" class="btn btn-secondary" onclick="addInput('{{ field.id_for_label }}')">{{ field }}</button>
      <div class="mb-3" id="{{ field.id_for_label}}">
        {{ field|as_crispy_field }}
      </div>
    {% endif %}
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  function addInput(field) {
    console.log(field);
    var div = document.getElementById(field);
    div.hidden = false;
  }
</script>