{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}<title>Update definition</title>{% endblock %}

{% block content %}
	<div id="buttons" style="padding-bottom: 1em;">
		{% for field in form.fields %}
			{% if not forloop.first %}
				<button class="btn btn-secondary" id="btn_{{ field }}" onclick="addInput('{{ field }}')" type="button">{{ field }}</button>
			{% endif %}
		{% endfor %}
	</div>

	<div id="form">
		<form method="post">
			{% csrf_token %}

			{% for field in form %}
				<div id="{{ field.html_name }}" style="display: none">
					{{ field|as_crispy_field }}
				</div>
			{% endfor %}

			<button type="submit" class="btn btn-primary" onclick="clearInput()">Save</button>
		</form>
	</div>

	<script>
		var url = "{% url 'api:word' word=word %}"

		fetch(url, {
			method: 'GET',
			headers: {
				'X-Requested-With': 'XMLHttpRequest'
			}
		})
		.then(resp => resp.json())
		.then(function(data){
			for (let i = 0; i < data.length; i++){
				
				var field = data[i];
				console.log(field)
				addInput(field);
			}
		});
	</script>
{% endblock %}