<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'dictionary/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">

    <script src="{% static 'dictionary/js/addInput.js' %}" defer></script>
    <script src="{% static 'dictionary/js/clearInput.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    {% block title %}<title>Document</title>{% endblock %}
</head>

<body>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
          </ul>
          <ul class="nav">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ user.username }}</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'account:collection-list' %}">Collections</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'account:logout' %}">Log Out</a></li>
                </ul>
              </li>
            {% else %}
                <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link link-dark px-2">Login</a></li>
                <li class="nav-item"><a href="{% url 'account:signup' %}" class="nav-link link-dark px-2">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="d-flex justify-content-center" style="padding: 1em;">
        <form action="{% url 'dictionary:word-search' %}" class="form-group" style="width: 25%">
          <div class="input-group mb-3">
            <input id="search-input" name="q" type="search" class="form-control" placeholder="Search definition" aria-label="Search">

            <svg id="clear-input" style="padding-left: 0.15em;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.5em"preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M18.36 19.78L12 13.41l-6.36 6.37l-1.42-1.42L10.59 12L4.22 5.64l1.42-1.42L12 10.59l6.36-6.36l1.41 1.41L13.41 12l6.36 6.36z"/></svg>
          </div>
        </form>
      </div>

    
    <div class="container" style="padding-left: 10em; padding-right: 10em; padding-top: 1em; padding-bottom: 1em;">
        {% block content %}{% endblock %}
    </div>

    <script>
      function clearValue(){
        input.value = '';
      }

      var clear = document.getElementById('clear-input');
      var input = document.getElementById('search-input');
      clear.addEventListener("click", clearValue);
    </script>
</body>
</html>