<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'dictionary/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'dictionary/js/addInput.js' %}"></script>
    <script src="{% static 'dictionary/js/clearInput.js' %}"></script>

    {% block title %}<title>Document</title>{% endblock %}
</head>
<body style="padding-left: 15em; padding-right: 15em; padding-top: 1em;">
    {% block content %}{% endblock %}
</body>
</html>