<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'dictionary/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'dictionary/js/addInput.js' %}" defer></script>
    <script src="{% static 'dictionary/js/clearInput.js' %}"></script>

    {% block title %}<title>Document</title>{% endblock %}
</head>

<body>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
          </ul>
          <ul class="nav">
            <form action="{% url 'dictionary:word-search' %}" class="col-12 col-lg-auto mb-3 mb-lg-0">
                <input name="q" type="search" class="form-control" placeholder="Search definition" aria-label="Search">
            </form>

            {% if user.is_authenticated %}
                <li class="nav-item" style="padding-left: 1em; line-height: 2.5em;">{{ user.username }}</li>
            {% else %}
                <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link link-dark px-2">Login</a></li>
                <li class="nav-item"><a href="{% url 'account:signup' %}" class="nav-link link-dark px-2">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

    
    <div class="container" style="padding-left: 10em; padding-right: 10em; padding-top: 1em; padding-bottom: 1em;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>